<template>
  <div>
    <h2><a :href="'https://www.imdb.com' + actor.url" rel="noreferrer noopener" target="_blank">{{capitalName()}}</a> {{actor.power.toFixed(2)}}</h2>
    <p><b>Born:</b> {{actor.birthdate.date}}</p>
    <p v-if="isNotDead()"><b>Died:</b> {{actor.deathdate.date}}</p>
    <ul>
      <li v-for="(title, index) in actor.movies" :key="index">
        <router-link :to="'/movie/' + esc(title)">{{title}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Actor',
  data() {
    return {
      actor: {}
    }
  },
  methods: {
    capitalName() {
      return this.actor.name.replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())));
    },
    esc: function(title) {
      return encodeURI(title.replace(/\(.*\)/g, (w) => '').trim());
    },
    isNotDead: function() {
      const deathday = new Date(this.actor.deathdate.date);
      return deathday > new Date("0001-01-01 00:00:00.000000");
    }
  },
  created() {
    axios.get('http://localhost:8081/actor/' + this.$route.params.name)
         .then(resp => this.actor = resp.data.data)
         .catch(err => console.log(err));
  }
}
</script>

<style>
</style>