<template>
  <div class="actors-div">
    <table>
      <thead>
      <tr>
        <th>Actor</th>
        <th>Starpower</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="actor in sortedActors" :key="actor.id" class="actors">
        <td><router-link :to="'/actor/' + esc(actor.name)">{{actor.name}}</router-link></td>
        <td>{{actor.power.toFixed(2)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Actors',
  data() {
    return {
      actors: []
    }
  },
  methods: {
    esc: function(name) {
      return encodeURI(name);
    }
  },
  computed: {
    sortedActors() {
      return this.actors.slice().sort((a1, a2) => {
        if (a1.power > a2.power)
          return -1;
        if (a2.power > a1.power)
          return 1;
        return 0;
      });
    }
  },
  created() {
    axios.get('http://localhost:8081/actor')
         .then(resp => this.actors = resp.data.data)
         .catch(err => console.log("Error: ", err));
  }
};
</script>

<style>
  td {
    text-align: center;
  }
</style>