<template>
  <div>
    <h2><a :href="'https://www.imdb.com' + movie.url" rel="noreferrer noopener" target="_blank">{{capitalTitle()}}</a></h2>
    <p><b>Rating:</b> {{movie.rating.toFixed(2)}}</p>
    <p v-if="movie.votes > 0"><b>Votes:</b> {{movie.votes}}</p>
    <p><b>Released:</b> {{movie.release_date.date}}</p>
    <p v-if="movie.budget > 0"><b>Budget:</b> {{movie.budget}}</p>
    <p v-if="movie.box_office > 0"><b>Box Office:</b> {{movie.box_office}}</p>
    <ul>
      <li v-for="(name, index) in movie.cast" :key="index">
        <router-link :to="'/actor/' + esc(name)">{{name}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Movie',
  data() {
    return {
      movie: {}
    }
  },
  methods: {
    capitalTitle() {
      return this.movie.title.replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())));
    },
    esc: function(name) {
      return encodeURI(name);
    }
  },
  created() {
    const t = encodeURI(this.$route.params.title);
    axios.get('http://localhost:8081/movie/' + t)
         .then(resp => this.movie = resp.data.data)
         .catch(err => console.log(err));
  }
}
</script>

<style>

</style>