<template>
  <div>
    <ol v-if="results.length > 0">
      <li v-for="(res, index) in results" :key="index">
        <router-link :to="makeAnchor(res)">{{res[0]}}</router-link>
      </li>
    </ol>
    <p v-else>No results</p>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Search',
  data() {
    return {
      results: []
    }
  },
  methods: {
    makeAnchor: function(element) {
      let ref = '';
      if (element[1] == 'actor') {
        ref = '/actor/' + element[0];
      } else if (element[1] == 'movie') {
        ref = '/movie/' + element[0].replace(/\(.*\)/g, (w) => '').trim()
      }
      return encodeURI(ref);
    }
  },
  watch: {
    $route(to, from) {
      axios.get('http://localhost:8081' + to.path)
         .then(resp => this.results = resp.data.data)
         .catch(err => console.log(err));
    }
  },
  created() {
    axios.get('http://localhost:8081/search/' + encodeURI(this.searchText))
         .then(resp => this.results = resp.data.data)
         .catch(err => console.log(err));
  }
}
</script>

<style>
</style>