<template>
  <div id="app" class="center">
    <h1 class="center"><a href="">Starpower</a></h1>
    <form @submit.prevent="search(searchText)">
      <input type="text" v-model="searchText" placeholder="Search"/>
    </form>
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
  methods: {
    search(searchText) {
      this.$router.push('/search/' + encodeURI(searchText));
    }
  },
  created() {
    this.$router.push('/actors');
  }
})
export default class App extends Vue {}
</script>

<style>
  .center {
    margin: auto;
  }
</style>
